
\.idea/

modules/__pycache__/

*.pickle

\.ipynb_checkpoints/

Untitled\.ipynb

cat\.JPG

old/tests/bg_vis/Tumor_108_background\.png

*.npy

__pycache__/

patches/

\.DS_Store

\.pytest_cache/v/cache/

dist/

wsisampler\.egg-info/
